<div class="container">
    <mat-card>
        <h3>FILTER: </h3>
        <form [formGroup]="filterForm">
            <div class="wrapper">

                <mat-checkbox formControlName="report">
                    Only Included In Report
                </mat-checkbox>

                <mat-checkbox formControlName="included">
                    Only Perstat Required
                </mat-checkbox>

                <mat-form-field>
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="all">
                            All Roles
                        </mat-option>
                        <mat-option value="lead">
                            Team Lead
                        </mat-option>
                        <mat-option value="member">
                            Member
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Assigned Team</mat-label>
                    <mat-select formControlName="team">
                        <mat-option value="all">
                            All Teams
                        </mat-option>
                        <mat-option *ngFor="let team of teams" [value]="team.team_name">
                            {{team.team_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-mini-fab title="Reset Filters" (click)="resetFilter()">
                    <mat-icon>autorenew</mat-icon>
                </button>
            </div>

            <mat-form-field class="search">
                <input matInput placeholder="Search" formControlName="search">
            </mat-form-field>
        </form>

    </mat-card>

    <section class="usersTable mat-elevation-z8">

        <table mat-table [dataSource]="users" matSort>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let user"> {{user.name}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell *matCellDef="let user"> {{user.role}} </td>
            </ng-container>

            <ng-container matColumnDef="team_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Team </th>
                <td mat-cell *matCellDef="let user"> {{user.team_name}} </td>
            </ng-container>

            <ng-container matColumnDef="perstat_required">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Perstat Required </th>
                <td mat-cell *matCellDef="let user"> {{user.perstat_required}} </td>
            </ng-container>

            <ng-container matColumnDef="included_in_report">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Included In Report </th>
                <td mat-cell *matCellDef="let user"> {{user.included_in_report}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let user">
                    <button mat-icon-button (click)="editUser(user)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
    </section>

</div>